<h1>Marker Map</h1>
<iframe width='100%' height='520' frameborder='0' src='http://zackshp.cartodb.com/viz/6497fb3c-53ce-11e4-908f-0e853d047bba/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<h1>Listing markers</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @markers.each do |marker| %>
      <tr>
        <td><%= marker.number %></td>
        <td><%= marker.title %></td>
        <td><%= link_to 'Show', marker %></td>
        <td><%= link_to 'Edit', edit_marker_path(marker) %></td>
        <td><%= link_to 'Destroy', marker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marker', new_marker_path %> 

<%= link_to "CSV", markers_path(format: "csv") %>
