<p id="notice"><%= notice %></p>

<div class="container col-md-offset-3 col-md-6">
  <div class="page-header text-center">
    <h2 class=" marker-title"><%= @marker.title %></h2>
    <small><%= "Marker No. #{@marker.number}" %></small>
  </div>
  <div class="">
  </div>
  <div class="">
    <p><%= "#{@marker.description}".html_safe %></p>
  </div>
  <div class="text-center">
  </div>
  <div class="map-container">
    <div id="map">
    </div>
  </div>
</div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiemFja3NocCIsImEiOiIzZ09nMDZZIn0.a_wcJpacq_Sojc5QO_4gww';
  var map = L.mapbox.map('map', 'zackshp.k0bb3ic6')
    .setView([<%= @marker.latitude %>, <%= @marker.longitude %>], 12);
L.mapbox.featureLayer({
  type: 'Feature',
  geometry: {
    type: 'Point',
    coordinates: [<%= @marker.longitude %>, <%= @marker.latitude %>]
  },
  properties: {
    'marker-size': 'large',
    'marker-color': '#00607d',
    'marker-symbol': 'circle'
  }
}).addTo(map);
</script>



